.plant-card {
    transition: all 0.25s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.plant-card:hover {
    transform: scale(1.02);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.4);
}

.card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.15);
}

.card-body {
    position: relative;
    z-index: 2;
}

.glare {
    position: absolute;
    inset: 0;

    background: radial-gradient(
        circle at var(--x) var(--y),
        rgba(255,255,255,0.25),
        transparent 100px
    );

    pointer-events: none;
    z-index: 1;
}