<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Soil Moisture Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    </head>

    <body class="bg-dark text-light">
    <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg bg-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="{{url_for('index')}}">Moisture-Dash</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav nav-underline me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Add Plant</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Remove Plant</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mb-2 ms-1 mb-lg-0" id="loginreg-btn">
                        <li class="nav-item">
                            <a class="btn btn-primary" href="{{url_for('login')}}">Login</a>
                            <a class="btn btn-success" href="{{url_for('register')}}">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="d-flex justify-content-center align-items-center vh-100">
            <h1 class="mb-4 text-center">Moisture-Dash Account Dashboard</h1>
        </div>