<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Moisture-Dash Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    </head>

    <body class="bg-dark text-light">
        <nav class="navbar navbar-expand-lg bg-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="{{url_for('index')}}">Moisture-Dash</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <ul class="navbar-nav mb-2 ms-1 mb-lg-0" id="loginreg-btn">
                        <li class="nav-item">
                            <a class="btn btn-success" href="{{url_for('register')}}">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid py-5 px-4">
            <h1 class="mb-4 text-center">Moisture-Dash Login</h1>

            <div class="d-flex justify-content-center">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card shadow mx-auto" style="max-width: 400px;">
                        <div class="card-body bg-secondary rounded">
                            
                            <form method="POST" action="" class="d-flex flex-column align-items-center">
                                {{ form.hidden_tag() }}
                                <div class="mb-3 text-center">
                                    {{ form.username }}
                                </div>
                                <div class="mb-3 text-center">
                                    {{ form.password }}
                                </div>
                                <div class="mb-3 text-center">
                                    {{ form.submit }}
                                </div>
                            </form>

                            <div class="text-center">
                                <a href="{{url_for('register')}}" class="d-block">Dont have an account yet? Register</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../static/js/user_handler.js"></script>
    </body>
</html>